html {
    font-size: 10px;
}

body {
    margin: 0;

    background-color: #010001;

    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    color: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.page {
    width: 100%;
    overflow: hidden;
}


/* Container
====================== */
.container {
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}


/* Header
====================== */
.header {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 126rem;
    margin: 0 auto;
    padding: 5rem 1.5rem 2rem;
}

.header__logo {
    width: 139px;
    position: relative;
}

.logo {
    display: block;
    width: inherit;

    position: absolute;
    top: -12px;
    left: 0;
}


/* Nav
====================== */
.nav {
    font-size: 1.2rem;
}

.nav__link {
    margin-left: 2rem;
    position: relative;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link::after {
    content: "";
    width: 100%;
    height: 1px;

    background-color: #fff;

    position: absolute;
    left: 0;
    bottom: -3px;

    transform: scale(0);
    transition: transform .2s linear;
}

.nav__link:hover::after {
    transform: scale(1);
}

.nav__link-right {
    opacity: .7;
    transition: opacity .2s linear;
}

.nav__link-right:hover {
    opacity: 1;
}


/* Section
====================== */
.section {
    padding: 19rem 0 0;
    text-align: center;
}

.section--secondary {

}

.section__title {
    margin-bottom: 2.5rem;

    font-size: 6.4rem;
    font-weight: 400;
}

.section__text {
    width: 100%;
    max-width: 27rem;
    margin: 0 auto 1rem;

    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.4;
}

.section__text::after {
    content: "";
    display: block;
    margin: 2.5rem auto 0;
    width: 1px;
    height: 60px;

    background-color: #fff;
}


/* Video
====================== */
.video {
    max-width: 100%;
}


/* Rocket
====================== */
.rocket {
    padding: 15rem 0 20rem;
    position: relative;
}

.rocket__img img {
    display: block;
    height: 170rem;

    position: absolute;
    top: 0;
    right: 0;
}


/* Rocket description
====================== */
.rocket__description {
    width: 100%;
    max-width: 49rem;
    padding-top: 20rem;
}

.rocket__title {
    margin-bottom: 4.5rem;

    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 1.4;
}

.rocket__text {
    font-size: 1.6rem;
    line-height: 1.8;
}


/* Table
====================== */
.table {
    max-width: 55rem;

    font-size: 18px;
    line-height: 1.8;
}

caption {
    margin-bottom: 4.5rem;

    text-align: left;
    font-size: 2.4rem;
    line-height: 1.4;
    font-weight: 700;
}

.table tbody td {
    padding: .5rem 0;
}

.table tbody td:nth-child(2n-1) {
    padding-right: 13rem;

    text-transform: uppercase;
}

.table tbody td span {
    color: rgba(255, 255, 255, .5);
}


/* Footer
====================== */
.footer {
    padding: 2rem 0 10rem;
}

.footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    margin-bottom: 3rem;
}

.footer__nav {
    margin-bottom: 2rem;
}

.copyright {
    margin-bottom: 2.7rem;

    font-size: 1.8rem;
    color: rgba(255, 255, 255, .5);
}

.copyright a {
    color: rgba(255, 255, 255, .7);
    transition: color .2s linear;
}

.copyright a:hover {
    text-decoration: underline;
    color: #fff;
}


/* Button
====================== */
.btn {
    display: block;
    min-width: 26rem;
    padding: 1.5rem;

    background-color: transparent;
    border: 2px solid #fff;
    border-radius: .6rem;
    cursor: pointer;

    font-size: 1.8rem;
    color: #fff;
    font-family: inherit;

    transition: background-color .2s linear, color .2s linear;
}

.btn:focus {
    outline: 1px solid #d3d3d3;
    outline-offset: 1px;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}



/* Media
====================== */
@media (max-width: 900px) {

    /* Rocket */
    .rocket__img img {
        height: 150rem;
    }

    .rocket {
         padding: 10rem 0 15rem;
    }

    .rocket__description {
        max-width: 40rem;
        padding-top: 15rem;
    }

    /* Table */
    .table {
        max-width: 45rem;
    }

    .table tbody td:nth-child(2n-1) {
        padding-right: 5rem;
    }
}


@media (max-width: 767px) {

    /* Header */
    .header__inner {
        flex-direction: column;
        padding: 3rem 0 2rem;
    }

    .header__logo {
        margin-bottom: 3rem;
    }

    .header__inner .nav {
        margin-bottom: 2rem;
    }

    .header__inner .nav:last-child {
        margin-bottom: 0;
    }

    /* Section */
    .section__title {
        font-size: 5rem;
    }

    /* Rocket */
    .rocket__img img {
        height: 80rem;
    }

    .rocket__description {
        max-width: 100%;
        padding-top: 10rem;
    }

    /* Table */
    .table {
        max-width: 40rem;
    }

    .table tbody td:nth-child(2n-1) {
        padding-right: 1.5rem;
    }
}


@media (max-width: 567px) {
    /* Section */
    .section {
        padding: 15rem 0 0;
    }
    .section__title {
        margin-bottom: 1.5rem;
        font-size: 3rem;
    }

    /* Rocket */
    .rocket {
        padding: 6rem 0;
    }
    .rocket__description {
        padding-top: 6rem;
    }
    .rocket__title {
        font-size: 2rem;
    }
    .rocket__img img {
        position: static;
    }
    caption, .rocket__title {
        margin-bottom: 2.5rem;
    }

    /* Footer */
    .footer {
        text-align: center;
    }
    .footer__nav .nav__link {
        display: inline-block;
        margin: 0 1rem 1.5rem;
    }
}

@media (max-width: 300px) {
    /* Button */
    .btn {
       min-width: 100%;
    }
}





